
html, body {
  margin-top: 10px;
  background-color: #f0efef;
}
.brandname{
margin-left: 213px;
}
.itemList .blocktext{

	line-height:0;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 10em; 
}
button.blocktext {
    height: 2em; 
}
.container{
	background-color: rgb(255, 255, 255);
	padding-bottom: 50px;
	width:68%;
	padding-top: 20px;
	min-height: 500px;
}
.addresshead{
	background-color: rgb(196, 205, 196);
}
.itemList{

	margin-bottom: 30px;
}
.address{
	border-left: 2px solid #d9d7d2;
	border-right:2px solid #d9d7d2;
	border-bottom:2px solid #d9d7d2;
	width:60%;
	margin-left: 177px;
	padding-bottom: inherit;

}

.navbar{
	min-height:40px !important;
	
	border-radius: 0;
	background-color: #A3CC29;
	
}

.navbar-nav{

	margin-left: 167px !important;
}
.navbar-default{

	margin:auto;
}
.navbar-nav > li > a {
	padding-top:5px !important; 
	padding-bottom:5px !important;
}

.navbar-fixed-bottom{
	color:rgb(255, 255, 255);
	background-color: #0B0B0B;
}
.upperfooter{
	background-color: #191919;
	color:rgb(255, 255, 255);
	height:200px;
}
#payable{
    color:#6F746F;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	
}
.selection{
	display: -webkit-inline-box;
}
.profile{
	text-decoration: none;
	list-style: none;
	font-size: 15px;
	
}
#carousel-example-generic{
	width:600px;
}
.carousel-inner > .item > img{
	height:400px;
}