<div class="container">
<div class="row">

{{#each item in model}}
	{{#unless item.isSoldOut}}
	<div class="col-md-3 itemList">
	{{#link-to 'products.product' item.id}}<img class="displayed"{{bind-attr src=item.src}} alt="Logo" height="200">{{/link-to}}
	{{#link-to 'products.product' item.id}}<p class="blocktext">{{item.title}}</p>{{/link-to}}
		<p class="blocktext"> Rs. {{item.price}}</p>
	  {{#if controllers.application.currentUser.isAdmin}}
		{{#link-to 'editproduct' item }}<button class="btn btn-default blocktext">EDIT</button>{{/link-to}}
		{{/if}}
		 {{#if controllers.application.currentUser.isAdmin}}
		<button class="btn btn-default blocktext" {{action 'deleteProduct' item}}>Delete</button>
		{{/if}}
	
	</div>
	{{/unless}}
{{/each}}

</div>
</div>