<div class="container">
  <div class="address">
	<div class="row addresshead">
		      <div class="col-md-5 col-md-offset-4">
		          <h3>Shipment Address: </h3>
		      </div>
	</div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <form  {{action 'saveAddress' on="submit"}}>
            <div class="row">
              <div class="form-group">
                 Name: {{input value=name type="text" class="form-control"}}
              </div>
            </div>

            <div class="row">
              <div class="form-group">
              
                 Address:  {{textarea  value=address class="form-control" rows="5"}}
              </div>
            </div>


             <div class="row">
                <div class="col-md-4 col-md-offset-2">
                <button type="submit" class="btn btn-primary">Save and Continue</button>
                </div>
             </div>
            
  </form>
  </div>
  </div>
  </div>
</div>